.card {
    background-color: aliceblue;
    width: 23%;
    border: 0.5px solid #f5f5f5;
    border-radius: .35rem;
    transition: 200ms ease;

    small {
        color: #424242;
        font-weight: 500;
        font-size: 10px;
    }

    &:hover {
        box-shadow: 0px 0px 20px 10px #f5f5f590;
        transform: scale(1.02);
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .35rem .35rem 0 0;
    }

    &__title {
        font-weight: 600;
        font-size: 15px;
        color: #00aeef;
        margin-bottom: 5px;
    }

    &__price {
        font-weight: 600;
        font-size: 13px;
        color: #424242;
        margin-bottom: 5px;
    }

    &__body {
        padding-inline: 10px;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 10px;
        font-weight: 400;
        color: #424242;
        margin-bottom: 3px;
    }

    &__category {
        background-color: #ff5110;
        padding-inline: 9px;
        padding-block: 2px;
        display: flex;
        font-size: 12px;
        font-weight: 500;
        color: white;
        border-radius: 2px;
        margin-bottom: 4px;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__icon {
        padding-top: 3px;
        padding-right: 1px;
    }

    &__tagscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 5px;
    }

    &__tags {
        background-color: #efb900;
        padding-inline: 5px;
        padding-block: 2px;
        font-size: 10px;
        font-weight: 500;
        color: white;
        border-radius: 2px;
        flex-direction: row;
        display: flex;
        cursor: pointer;
        margin-bottom: 2px;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__button {
        background-color: #00aeef;
        color: #fff;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        padding-block: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 13px;
        margin-bottom: 10px;
        margin-inline: 10px;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
            background-color: #0189bb;
        }
    
        p {
            padding-left: 5px;
        }
    }
}